body{
    background: url(https://ichef.bbci.co.uk/news/640/cpsprodpb/7458/production/_104048792_pizzaistock.jpg)50% 0 fixed;
    background-size: cover;
    min-height: 900px;
    width: 100%;
    margin: 0 auto;;
    background-color: black;
    color: white;
    
}

html{
    scroll-behavior: smooth;
}

.scroll_section{
    scroll-margin-top:80px ;
}

footer{
    background-color: #1e2022;
    color: aliceblue;
    padding: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}